<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
    <script src="{% static 'js/charts.js' %}" defer></script>
    <title>Analys</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <div class="main-container">
      {% include "topbar.html" with pagetitle="Analys"%}
      <div class="analysis-title">
        <div class="filter-container">
          <!-- Filter for work-group -->
          Filter:
        </div>
        <div class="time-period-container">
          <!-- Filter for time period -->
          Time period
        </div>
      </div>

      <div class="analysis-container">
        <div class="analysis-item ratio-5-1">
          <div class="analysis-item-title">
            <h2><b>eNPS</b></h2>
          </div>
          <div class="gauge-container">
            <canvas id="enpsGauge"></canvas>
          </div>
          <div class="graph-container">
            <canvas id="enpsBar"></canvas>
          </div>
        </div>

        <div class="analysis-item ratio-1-1">
          <div class="analysis-item-title">
            <h2><b>Svarsfrekvens</b></h2>
          </div>
          <div class="graph-container">
            <canvas id="canvas" width="400" height="400"></canvas>
          </div>
        </div>

        <div class="analysis-item ratio-2-1">
          <div class="analysis-item-title">
            <h2><b>Analysera fråga</b></h2>
          </div>
          <div class="graph-container" style="height: 90%">
            <canvas id="enpsChart"></canvas>
          </div>
        </div>
      </div>
    </div>

    <script>
      //Data for the enpsGauge, replace with data from database
      const enpsGaugeData = {{enpsScore|safe}};
      const enpsDataDataChange = -10;
      const enpsDate = "{{deadline}}"; // Replace with the most recent date that changed the eNPS score

      //Data for the enpsBar, replace with data from database
      const enpsBarLabels = {{slider_values|safe}};
      const enpsBarData = {{enpsDistribution|safe}};

      //Data for the answer frequency, replace with data from database
      const answerData = 51;
      const dataAnswerChange = 0;

      //Data for the pie chart, replace with data from database
      const pieLabels = {{enpsPieLabels|safe}};
      const pieData = {{enpsPieData|safe}};
      const pieColors = [
        "rgb(140, 214, 16)",
        "rgb(16, 23, 214)",
        "rgb(16, 191, 214)",
      ];

      document.addEventListener("DOMContentLoaded", function () {
        initEnpsGauge("enpsGauge", enpsGaugeData, enpsDataDataChange, enpsDate);
        initEnpsBar("enpsBar", enpsBarLabels, enpsBarData);
        initAnswerFrequency("canvas", answerData, dataAnswerChange);
        //initPieChart("enpsChart", pieLabels, pieData, pieColors);
        initBarChart("enpsChart", pieLabels, pieData, pieColors);
      });
    </script>
  </body>
</html>
