<!-- Authenticate account -->
<!DOCTYPE html>
<html lang="sv">
  <head>
    {% load static %}
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skapa din nya organisation</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <div class="main-container">
      <div class="create-container">

        <!-- Go back button-->
        <button
          class="image-button"
          onclick="window.location.href='{% url 'create_acc' %}'"
        >
          <img
            src="{% static 'images/go-back-btn.png' %}"
            alt="Gå Tillbaka"
            class="back-icon"
          />
      </button>
        <h1>Skapa ditt nya konto</h1>

        <!-- For showing messages -->
        <div
        id="message-box"
        class="error-msg"
        style="color: red; font-weight: bold"
        >
        {{ message }}
        </div>

        <h2>En kod har skickats till din mejladress</h2>

        <!-- This form sends the input data to the server using a POST request -->
        <form
          class="create-form"
          hx-post="/authentication-acc/"
          hx-trigger="submit"
          hx-target="#message-box"
          hx-swap="innerHTML"
        >
          <!-- Input for the code -->
          {% csrf_token %}
          <label for="auth_code">Ange koden:</label>
          <input
            type="text"
            id="auth_code"
            name="auth_code"
            placeholder="6-siffrig kod"
            inputmode="numeric"
            maxlength="6"
            required
          />

        <button type="submit">Fortsätt</button>
      </form>

      <!-- Link to send code again -->
      <div class="account-help-links">
        <a href="#" 
        hx-post="/resend-authentication-code-acc/"
        hx-swap="none"
        hx-vals='{"csrfmiddlewaretoken": "{{ csrf_token }}", "source": "from_account"}' >Fick du ingen kod? Klicka här för att skicka igen</a>
      </div>
    </div>

  <script>
    // Error handling
    document.body.addEventListener("htmx:afterRequest", function (event) {
      const messageBox = document.getElementById("message-box");
      if (event.detail.xhr.status === 200) {
        messageBox.innerHTML = "Konto skapat. Nu kan du logga in.";
        messageBox.style.color = "green";
        messageBox.style.display = "block";
        // Display the message to the user for a short while before redirecting
        setTimeout(() =>  window.location.href = '/', 1500);
      }else if(event.detail.xhr.status === 204){
        messageBox.innerHTML = "Ny kod skickad";
        messageBox.style.color = "Blue";
        messageBox.style.display = "block";
      }else {
        messageBox.innerHTML = event.detail.xhr.responseText || "Felaktig kod";
        messageBox.style.color = "red";
        messageBox.style.display = "block";
      }

    });

    // Hide error message when user focuses on any input field
    document.querySelectorAll("input").forEach((input) => {
      input.addEventListener("focus", () => {
        const messageBox = document.getElementById("message-box");
        if (messageBox) {
          messageBox.style.display = "none";
        }
      });
    });

  </script>
</body>
</html>
