<!DOCTYPE html>
<html lang="sv">
  <head>
    {% load static %}
    {% load dict_utils %}
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skapa fråga</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <div class="popup-overlay">
      <div class="popup-content">
        <h2>Välj typ av fråga</h2>

        <!-- Create new questions -->
        <ul id="standard-questions" class="question-list">
          {% for type in QuestionFormat %}
          <li class="question-item">
            <img
              src="{% static 'images/' %}{{ type.value }}.png"
              alt="{{ question_labels|get_item:type.label }} bild"
              class="question-icon"
            />  
            <div class="question-label">
              <span class="question-text">
                <!-- Retrieve the Swedish translation of the label -->
                {{ question_labels|get_item:type.label }} 
              </span>
              <a href="{% url 'edit_question_new' survey_temp.id type %}"> 
                <button type="button">Välj</button>  
              </a>
            </div>
          </li>
          {% endfor %}
        </ul>

        <!-- Predefined questions from question-bank-->
        <ul
          id="predefined-questions"
          class="question-list"
          style="display: none"
        >
          <!-- Replace this with loop when it is possible to save questions to a bank-->
          {% for question in organization_questions %}
          <li class="question-item">
            <img
              src="{% static 'images/' %}{{ question.question_format }}.png"
              alt="{{ question.question_format }} image"
              class="question-icon"
            />
            <p>{{ question.question_title }}</p>
            <a
              href="{% url 'edit_question' survey_temp.id question.question_format question.id%}"
            >
              <button type="button">Välj</button>
            </a>
          </li>
          {% endfor %}          
          <!--   ^^   -->
        </ul>

        <div class="popup-buttons">
          <button
            class="image-button"
            onclick="window.location.href='{% url 'create_survey_with_id' survey_temp.id %}'"
          >
            <img
              src="{% static 'images/go-back-btn.png' %}"
              alt="Go Back"
              class="back-icon"
            />
          </button>
          <button id="suggestions" type="button" onclick="openCloseSugg()">
            Organisationens standardfrågor
          </button>
        </div>
      </div>
    </div>

    <script>
      function openCloseSugg() {
        const suggestionsButton = document.getElementById("suggestions");
        const standardQuestions = document.getElementById("standard-questions");
        const predefinedQuestions = document.getElementById(
          "predefined-questions"
        );

        if (standardQuestions.style.display === "none") {
          // Show standard questions
          standardQuestions.style.display = "block";
          predefinedQuestions.style.display = "none";
          suggestionsButton.innerHTML = "Organisationens standardfrågor";
        } else {
          // Show predefined questions
          standardQuestions.style.display = "none";
          predefinedQuestions.style.display = "block";
          suggestionsButton.innerHTML = "Skapa ny fråga";
        }
      }
      // Timer that calls logout form after specified time
      let logoutTimer;
      function resetTimer() {
        clearTimeout(logoutTimer);
        logoutTimer = setTimeout(() => {
          document.getElementById('logout-form').requestSubmit();
          }, 10 * 60 * 1000); // 10 minutes
      }
  
      window.onload = resetTimer;
      document.onmousemove = resetTimer;
      document.onkeypress = resetTimer;
      document.onscroll = resetTimer;
      document.onclick = resetTimer;
  
    </script>
    <form id="logout-form" method="post" hx-post="/logout/" hx-target="body" hx-swap="outerHTML" style="display:none;">
      {% csrf_token %}
    </form>
  </body>
</html>
