<!doctype html>
<html lang="sv">
  <head>
    {% load static %}
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skapa fråga</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <div class="popup-overlay">
      <div class="popup-content">
        <h2>Välj typ av fråga</h2>

        <!-- Create new questions -->
        <ul id="standard-questions" class="question-list">
          {% for type in QuestionFormat %}
          <li class="question-item">
            <img
              src="{% static 'images/' %}{{ type.value }}.png"
              alt="{{ type.label }} image"
              class="question-icon"
            />
            <a href="{% url 'edit_question_new' survey_temp.id type %}">
              <button type="button">Välj</button>
            </a>
          </li>
          {% endfor %}
        </ul>

        <!-- Predefined questions from question-bank-->
        <ul
          id="predefined-questions"
          class="question-list"
          style="display: none"
        >
          <!-- Replace this with loop when it is possible to save questions to a bank-->
          <li class="question-item">
            <img
              src="{% static 'images/q1.png' %}"
              alt="Predefined Question 1"
              class="question-icon"
            />
            <p>Fördefinierad fråga 1</p>
            <a
              href="{% url 'edit_question_new' survey_temp.id 'predefined_format_1' %}"
            >
              <button type="button">Välj</button>
            </a>
          </li>
          <li class="question-item">
            <img
              src="{% static 'images/q1.png' %}"
              alt="Predefined Question 2"
              class="question-icon"
            />
            <p>Fördefinierad fråga 2</p>
            <a
              href="{% url 'edit_question_new' survey_temp.id 'predefined_format_2' %}"
            >
              <button type="button">Välj</button>
            </a>
          </li>
          <!--   ^^   -->
        </ul>

        <div class="popup-buttons">
          <button
            class="go-back-button"
            onclick="window.location.href='{% url 'create_survey_with_id' survey_temp.id %}'"
          >
            <img
              src="{% static 'images/go-back-btn.png' %}"
              alt="Go Back"
              class="back-icon"
            />
          </button>

          <button id="suggestions" type="button" onclick="openCloseSugg()">
            Förslag på frågor
          </button>
        </div>
      </div>
    </div>

    <script>
      function openCloseSugg() {
        const suggestionsButton = document.getElementById("suggestions");
        const standardQuestions = document.getElementById("standard-questions");
        const predefinedQuestions = document.getElementById(
          "predefined-questions",
        );

        if (standardQuestions.style.display === "none") {
          // Show standard questions
          standardQuestions.style.display = "block";
          predefinedQuestions.style.display = "none";
          suggestionsButton.innerHTML = "Förslag på frågor";
        } else {
          // Show predefined questions
          standardQuestions.style.display = "none";
          predefinedQuestions.style.display = "block";
          suggestionsButton.innerHTML = "Standard frågor";
        }
      }
    </script>
  </body>
</html>
