<!-- Create account -->
<!doctype html>
<html lang="sv">
  <head>
    {% load static %}
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skapa ditt nya konto</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <!-- To test this, switch to create_acc.html in views.py -->
    <div class="create-container">
      <h1>Skapa ditt nya konto</h1>
      <!-- This form sends the input data to the server using a POST request -->
      <form class="create-form">
        <label for="name">Namn:</label>
        <input type="text" id="name" name="name" placeholder="Namn" required />

        <label for="email">Mejladress:</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Mejladress"
          required
        />

        <label for="password">Lösenord:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Lösenord"
          required
        />

        <form
          hx-post="/create_acc/"
          hx-target=".create-form"
          hx-trigger="click"
        >
          {% csrf_token %}
          <button type="submit">Skapa nytt konto</button>
        </form>
      </form>
    </div>
  </body>
</html>
