<!doctype html>
<html lang="sv">
  <head>
    {% load static %}
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redigera fråga</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <div class="popup-overlay">
      <div class="popup-content">
        {% if source == "organization_templates" and not survey_temp.id%}
          <input
            type="text"
            id="question_name"
            name="question_name"
            placeholder="Namn på frågan"
            class="input-form"
            required
          />
        {% else %}
          <h2>Redigera fråga</h2>
        {% endif %}
        <img src="{% static 'images/' %}{{ question_format }}.png" 
            alt="{{ question_format }} image"
            class="question-icon"
        />

        {% if question_id is None %} 
        <form
          class="question-form"
          {% if survey_temp.id %}
            hx-post="{% url 'edit_question_new' survey_temp.id question_format %}{% if source and source != 'None' %}?source={{ source }}{% endif %}"
          {% else %}
            hx-post="{% url 'edit_question_new' question_format %}?source={{ source }}"
            hx-include="#question_name"
          {% endif %}
          hx-target=".question-form"
          hx-trigger="submit"
        >
        {% else %} 
        <form
          class="question-form"
          {% if survey_temp.id %}
            hx-post="{% url 'edit_question' survey_temp.id question_format question_id %}{% if source and source != 'None' %}?source={{ source }}{% endif %}"
          {% else %}
            hx-post="{% url 'edit_question' question_format question_id %}?source={{ source }}"
            hx-include="#question_name"
          {% endif %}
          hx-target=".question-form"
          hx-trigger="submit"
        >
        {% endif %}
        {% csrf_token %}
        {% if question_format == "multiplechoice" %}
          {% if question_text is None %}
            <input
              type="text"
              id="question"
              name="question"
              placeholder="Fråga"
              required
            />
            <div id="options-container" class="options-container">
              <div class="option-input">
                <input type="text" name="options" placeholder="Alternativ 1" required />
              </div>
              <div class="option-input">
                <input type="text" name="options" placeholder="Alternativ 2" required />
              </div>
            </div>
          {% elif bank_question and not source == "organization_templates"%}
            <input
              type="text"
              id="question"
              name="question"
              value="{{ question_text }}"
              required
              readonly
            />
            <div id="options-container" class="options-container">
            {% for option in options %}
              <div class="option-input">
                <input type="text" name="options" placeholder="Alternativ {{ forloop.counter }}" value="{{ option }}" readonly/>
              </div>
            {% endfor %}
            </div>
          {% else %}
            <input
              type="text"
              id="question"
              name="question"
              value="{{ question_text }}"
              required
            />    
            <div id="options-container" class="options-container">
            {% for option in options %}
              <div class="option-input">
                <input type="text" name="options" placeholder="Alternativ {{ forloop.counter }}" value="{{ option }}" />
              </div>
            {% endfor %}
            </div>
          {% endif %}
        {% if not bank_question or source == "organization_templates" %}
          <button type="button" class="default-button" id="add-option-btn">Lägg till alternativ</button>
        {% endif %}
        <button type="submit">Spara</button>

        {% else %}
        
          {% csrf_token %}
          {% if question_text is None %}
          <input
            type="text"
            id="question"
            name="question"
            placeholder="Fråga"
            required
          />
          {% elif bank_question and not source == "organization_templates"%}
          <input
            type="text"
            id="question"
            name="question"
            value="{{ question_text }}"
            required
            readonly
          />
          {% else %}
          <input
            type="text"
            id="question"
            name="question"
            value="{{ question_text }}"
            required
          />
          {% endif %}
          <button type="submit">Spara</button>
        </form>
        {% endif %}
        {% if survey_temp.id %}
          <button
            class="image-button"
            onclick="window.location.href='{% url 'create_survey_with_id' survey_temp.id %}{% if source and source != 'None' %}?source={{ source }}{% endif %}'"
          >
        {% else %}
          <button
            class="image-button"
            onclick="window.location.href='{% url 'organization_templates' %}'"
          >
        {% endif %}
          <img
            src="{% static 'images/go-back-btn.png' %}"
            alt="Go Back"
            class="back-icon"
          />
        </button>
      </div>
    </div>
  <script>
  document.addEventListener("DOMContentLoaded", function () {
    const addOptionBtn = document.getElementById("add-option-btn");
    const optionsContainer = document.getElementById("options-container");

    let optionCount = 3;

    addOptionBtn.addEventListener("click", () => {
      const newOption = document.createElement("div");
      newOption.classList.add("option-input");

      const input = document.createElement("input");
      input.type = "text";
      input.name = "options";
      input.placeholder = `Alternativ ${optionCount}`;

      newOption.appendChild(input);
      optionsContainer.appendChild(newOption);
      optionCount++;
      optionsContainer.scrollTop = optionsContainer.scrollHeight;
    });
  });
    // Timer that calls logout form after specified time
    let logoutTimer;
    function resetTimer() {
      clearTimeout(logoutTimer);
      logoutTimer = setTimeout(() => {
        document.getElementById('logout-form').requestSubmit();
        }, 10 * 60 * 1000); // 10 minutes
    }

    window.onload = resetTimer;
    document.onmousemove = resetTimer;
    document.onkeypress = resetTimer;
    document.onscroll = resetTimer;
    document.onclick = resetTimer;
  
  function navigateBack(survey_id) {
        // The previous URL that linked to this page
        let previousUrl = document.referrer;
        if (previousUrl) {
          if (previousUrl.includes("edit-question")){
            // Avoid redirecting back to this page to prevent an infinite loop
            previousUrl = '/create-question/' + survey_id;
          }
          window.location.href = previousUrl;
        } else {
          // Fallback if referrer is empty
          // This simulates the user pressing the back button
          window.history.back();
        }
      }
    </script>
    <form id="logout-form" method="post" hx-post="/logout/" hx-target="body" hx-swap="outerHTML" style="display:none;">
      {% csrf_token %}
    </form>
  </body>
</html>
