<!DOCTYPE html>
<html lang="sv">
  <head>
    {% load static %}
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medarbetarpuls - Logga in</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <!-- To test this, switch to login.html in views.py -->
    <div class="login-container">
      <img src="{% static 'logo.png' %}" alt="Medarbetarpuls" class="logo" />

      <form
        class="input-form"
        hx-post="{% url 'login' %}"
        hx-target="#error-box"
        hx-swap="innerHTML"
      >
        {% csrf_token %}
        <!-- For showing error messages -->
        <div
          id="error-box"
          class="error-msg"
          style="color: red; font-weight: bold"
        >
          {{ message }}
        </div>

        <label for="email">Mejladress:</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Mejladress"
          required
        />

        <label for="password">Lösenord:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Lösenord"
          required
        />

        <button type="submit">Logga in</button>
      </form>

      <div class="account-help-links">
        <!-- Replace # later with actual path to create_org and create_acc. -->
        <a href="#" hx-get="{% url 'create_org_redirect' %}" hx-trigger="click">
          Registrera ny organisation
        </a>
        <a href="#" hx-get="{% url 'create_acc_redirect' %}" hx-trigger="click">
          Skapa nytt konto
        </a>
      </div>
    </div>
  </body>
  <script>
    // Error handling
    document.body.addEventListener("htmx:afterRequest", function (event) {
      const errorBox = document.getElementById("error-box");

      if (!event.detail.successful) {
        errorBox.innerHTML =
          event.detail.xhr.responseText || "Fel inloggningsuppgifter";
        errorBox.style.color = "red";
        errorBox.style.display = "block";
      }
    });

    // Hide error box when user focuses on any input field
    document.querySelectorAll("input").forEach((input) => {
      input.addEventListener("focus", () => {
        const errorBox = document.getElementById("error-box");
        if (errorBox) {
          errorBox.style.display = "none";
        }
      });
    });
  </script>
</html>
