<!DOCTYPE html>
<!--
{%comment%} 
This template is designed to be used by including it and was specifically designed to be used in the template for the topnav.

{%endcomment%} -->
{% load static %}
{% comment %} Sidepanel code {% endcomment %}
<div class="sidepanel" id="panel">
  {% if user.admin %}
  <a href={% url 'start_admin' %}>Startsida</a>
  <a href={% url 'my_org' %}>Min organisation</a>
  <a href={% url 'organization_templates' %}>Mallar</a>
  <a href={% url 'settings_admin' %}>Inställningar</a>
  {% elif user.user_role == "surveyresponder" %}
  <a href={% url 'start_user' %}>Startsida</a>
  <a href={% url 'unanswered_surveys' %}>Obesvarade enkäter</a>
  <a href={% url 'my_results' %}>Se resultat</a>
  <a href={% url 'settings_user' %}>Inställningar</a>
  {% else %}
  <a href={% url 'start_creator' %}>Startsida</a>
  <a href={% url 'unanswered_surveys' %}>Obesvarade enkäter</a>
  <a href={% url 'templates_and_drafts' %}>Mallar & Utkast</a>
  <a href={% url 'create_survey' %}>Skapa enkät</a>
  <a href={% url 'survey_status' %}>Mina publicerade enkäter</a>
  <a href={% url 'my_results' %}>Se resultat</a>
  <a href={% url 'analysis' %}>Analys</a>
  <a href={% url 'settings_user' %}>Inställningar</a>
  {% endif %}

  <form method="post" hx-post="{% url 'logout' %}" hx-target="body" hx-swap="outerHTML">
    {% csrf_token %}
    <button class="image-button logout" type="submit"> <img
      src="{% static 'images/logout-btn.png' %}"
      alt="Go Back"
      class="image-button logout"
    /></button>
  </form>
</div>

<script>
  function openPanel() {
    var x = document.getElementById("panel");

    if (x.style.transform === "" || x.style.transform === "translateX(100%)") {
      // Open the sidepanel
      x.style.transform = "translateX(0)"; // Slide the panel in
      x.style.visibility = "visible"; // Make it visible
    } else {
      // Close the sidepanel
      x.style.transform = "translateX(100%)"; // Slide the panel out
      x.style.visibility = "hidden"; // Make it invisible
    }
  }
</script>
