<!DOCTYPE html>
<html lang="sv">
  <head>
    {% load static %}
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medarbetarpuls - Home</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <div class="main-container">
      {% include "topbar.html" with pagetitle=pagetitle %}
      
      <div class ="analysis-bar">
        <div class="analysis-bar-container">
          <div class="analysis-bar-item"> 
            <img
              src="{% static 'images/chat_box.png' %}"
              class="analysis-bar-icon"
            />
            Svarsfrekvens: PLACEHOLDER PLACEHOLDER_CHANGE
          </div>
          <div class="analysis-bar-item">  
            <img
              src="{% static 'images/graph_icon.png' %}"
              class="analysis-bar-icon"
            />
            eNPS: PLACEHOLDER PLACEHOLDER_CHANGE
          </div>
          <div class="analysis-bar-item"> 
            <img
              src="{% static 'images/people_icon.png' %}"
              class="analysis-bar-icon"
            />
            EEI: PLACEHOLDER PLACEHOLDER_CHANGE
          </div>
        </div>   
      </div>

      <div class="grid-container">
        <a href="{% url 'my_org' %}" class="grid-item pink">
            <img
            src="{% static 'images/my-org.png' %}"
            class="start-icon"
              />
          <h2>Min organisation</h2>
          <p>Se och administrera din organisation</p>
        </a>
        <a href="{% url 'analysis' %}" class="grid-item green">
          <img
          src="{% static 'images/analysis-surveys.png' %}"
          class="start-icon"
            />
          <h2>Analys</h2>
          <p>Analysera svar på dina utskickade enkäter</p>
        </a>
        <a href="{% url 'settings_admin' %}" class="grid-item blue">
            <img
            src="{% static 'images/settings.png' %}"
            class="start-icon"
              />
          <h2>Inställningar</h2>
          <p>Dina personliga inställningar</p>
        </a>
      </div>
    </div>
    <script>
    // Timer that calls logout form after specified time
    let logoutTimer;
    function resetTimer() {
      clearTimeout(logoutTimer);
      logoutTimer = setTimeout(() => {
        document.getElementById('logout-form').requestSubmit();
        }, 10 * 60 * 1000); // 10 minutes
    }

    window.onload = resetTimer;
    document.onmousemove = resetTimer;
    document.onkeypress = resetTimer;
    document.onscroll = resetTimer;
    document.onclick = resetTimer;
  
    </script>
    <form id="logout-form" method="post" hx-post="/logout/" hx-target="body" hx-swap="outerHTML" style="display:none;">
      {% csrf_token %}
    </form>
  </body>
</html>
