<html lang="sv">
  <head>
    {% load static %}
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medarbetarpuls - Surveys</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <div class="main-container">
      {% include "topbar.html" with pagetitle=pagetitle %}
      <div class="pagetitle">
        <h2>Du har {{ unanswered_count }} obesvarade enkäter</h2>
      </div>
      <div class="grid-container">
        {% for survey in unanswered_surveys %}
          {% if survey.published_survey.deadline >= current_time %}
          <!-- Click on the survey and this will take it to answer_survey with correct parameters  -->
          <a
            href="{% url 'answer_survey' survey.id 0 %}"
            class="grid-item lightblue"
          >
          <p>Publicerades: {{ survey.published_survey.sending_date }}</p>
          <p><strong>*{{ survey.published_survey.name }}*</strong></p>
          <p>Deadline: {{ survey.published_survey.deadline }}</p>
        </a>
          {% endif %}
        {% endfor %}
      </div>
      <button
        class="view-survey_result"
        onclick="window.location.href='{% url 'my_results' %}'"
      >
        Visa resultat på tidigare enkäter
      </button>
    </div>
  </body>
</html>
