/*
 * layout.css
 * 
 * This file contains layout styles that manage the overall structure
 * and positioning of elements within the project. It includes styles
 * for grid systems, flexbox layouts, and any other layout-related
 * rules. 
 */

@import url('variables.css');

.main-container {
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.main-container .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    gap: 0px;
    margin-bottom: -20px;
    width: 500px;
}

.main-container .search-bar {
    width: 50%;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 500px;
}

.main-container .search-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-container {
    background-color: var(--white);
    /* white; */
    width: 100%;
    max-width: 550px;
    padding: 30px;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    margin-top: 100px;
}

.my-org-container {
    background-color: var(--white);
    /* white; */
    width: 100%;
    max-width: 550px;
    padding: 30px;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}

.my-org-container .search-container {
    margin-bottom: 10px;
}

.login-container {
    width: 70%;
    max-width: 500px;
    text-align: center;
    background: var(--white);
    /* white; */
    padding: 20px;
    border-radius: 10px;
}

.title-background {
    display: flex;
    /* Enable flexbox */
    justify-content: center;
    /* Center the items in the flex container */
    align-items: center;
    /* Center items vertically */
    position: relative;
    /* Allow absolute positioning if needed */
    width: 85%;
    max-width: 1000px;
    /* Make it full width */
    background-color: #e8ebf1;
    /* Optional: background color */
    padding: 15px;
    margin-bottom: 20px;
}

.grid-container {
    display: flex;
    width: 90%;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 10px;
}

/* Items within the grid dose not scale at the moment */
.grid-item {
    position: relative;
    width: calc((100% / 3) - 40px);
    min-height: 220px;
    max-height: 300px;
    aspect-ratio: 1 / 1;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* Limit the height */
    overflow: hidden;
}

.grid-item::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background-color: #ffffff;
    z-index: 1;
}
  
.grid-item.result {
    min-width: 250px;
}

/* Add specific classes for different colors */
.grid-item.pink::after {
    background-color: #ff77a1;
}

.grid-item.lightblue::after {
    background-color: #8bbdf8;
}

.grid-item.blue::after {
    background-color: #3e82d8;
}

.grid-item.green::after {
    background-color: #7ed23e;
}

.grid-item.yellow::after {
    background-color: #ffc757;
}

.grid-item.orange::after {
    background-color: #ff8565;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-icon {
    display: flex;
    /* Use flexbox for centering */
    justify-content: center;
    /* Center the icon */
    align-items: center;
    /* Center vertically */
    flex: 1;
    /* Allow icons to grow equally */
    max-width: 50px;
    /* Set a max width for icons */
}

.question-title {
    display: flex;
    /* Enable flexbox */
    justify-content: center;
    /* Center the items in the flex container */
    align-items: center;
    position: relative;
    top: -5px;
    /* Compensate for padding */
    height: 50px;
    width: 100%;
    /* Make it full width */
    text-align: center;
    /* Center the text */
}

.question-background {
    position: flex;
    min-height: 70px;
    background-color: #eef5fe;
    /* Change this to your desired blue color */
    width: 100%;
    /* Make it full width */
    text-align: center;
    /* Center the text */
    padding: 10px;
}

.question-result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-weight: bold;
    gap: 20px;
}

.settings-container {
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    margin-top: 100px;
}

.info-table {
    width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #e8ebf1;
    background-color: white;
    margin-bottom: 20px;
} 

.table-header {
    background-color: #e8ebf1;
    padding: 10px;
    font-weight: bold;
    text-align: left;
}

.table-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* Alpha: 0.4 = 40% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Sets the stacking order, higher numbers mean closer to the user */
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    position: relative;
    /* So the close button can be positioned relative to this */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content.messages {
    width: 300px; /* Make this smaller than for example publish survey popup */
    padding: 25px;
}

.tag-container,
.reminder-group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px 0;
}

.table-container {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 300px;
    border: 1px solid #ddd;
}

.analysis-title {
    display: flex;
    /* Enable flexbox */
    justify-content: space-evenly;
    /* Center the items in the flex container */
    align-items: center;
    /* Center items vertically */
    position: relative;
    /* Allow absolute positioning if needed */
    width: 100%;
    max-width: 960px;
    padding: 10px;
    /* Make it full width */
    background-color: #e8ebf1;
    /* Optional: background color */
}

.analysis-title .filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.analysis-title .period-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.analysis-container {
    flex: 1;
    display: flex;
    width: 100%;
    max-width: 1000px;
    min-width: 760px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
}

.analysis-item {
    position: relative;
    aspect-ratio: 1 / 1;
    height: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.2s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.analysis-item.ratio-1-1 {
    width: calc(33.33% - 10px); /* 3 items per row minus gap */
    aspect-ratio: 1 / 1;
}

.analysis-item.ratio-2-1 {
    width: calc(66.66% - 20px); /* 1 item (2:1) and 1 item (1:1) per row minus gap */
    aspect-ratio: 2 / 1;
}

.analysis-item.ratio-3-1 {
    width: calc(100% - 10px); /* Full width minus gap */
    aspect-ratio: 3 / 1;
}

.analysis-item.ratio-5-1 {
    width: calc(100% - 20px);
    aspect-ratio: 6 / 1;
    min-width: 720px;
}

.analysis-item-title {
    position: absolute; /* Position the title absolutely */
    top: 0px; /* Distance from the top */
    left: 10px; /* Distance from the left */
    padding: 5px; /* Padding around the title */
    border-radius: 5px; /* Rounded corners for the title box */
    font-weight: bold; /* Bold text */
    color: #333; /* Text color */
    z-index: 10; /* Ensure it appears above other content */
}

.graph-container {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.gauge-container {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 33%;
    overflow-x: hidden;
}

.topbar {
    display: flex;  
    justify-content: center;
    height: 100px;
    z-index: 2;
}

.sidepanel {
    width: 30%;
    position: fixed;
    z-index: 2;
    height: 55%;
    top: 0;
    right: 0;
    border-radius: 30px;
    background-color: var(--soft_blue);
    padding-top: 5%;
    padding-bottom: 5%;
    overflow-x: hidden;
    transition: 0.5s;
    visibility: hidden;
    transform: translateX(100%);
    display: block;
}

.menu {
    background: var(--blue);
    color: var(--white);
    display: block;
    position: fixed;
    right: 1%;
    top: 1%;
    border-radius: 50%;
    z-index: 3;
}