<form
  class="create-form"
  hx-post="/create_acc/"
  hx-target=".create-form"
  hx-trigger="submit"
  hx-swap="outerHTML"
>
  {% csrf_token %}
  <label for="name">Namn:</label>
  <input type="text" id="name" name="name" placeholder="Namn" required />

  <label for="email">Mejladress:</label>
  <input
    type="email"
    id="email"
    name="email"
    placeholder="Mejladress"
    required
  />

  <label for="password">Lösenord:</label>
  <input
    type="password"
    id="password"
    name="password"
    placeholder="Lösenord"
    required
  />

  <button type="submit">Skapa nytt konto</button>
</form>
